body {
  background-color: powderblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.indexList {
  font-size: 22px;
  background-color: green;
  width: fit-content;
  border: 3px solid black;
}

#naviBurger, #titleBurger {
  color: red;
}

#naviLasagna, #titleLasagna {
  color: whitesmoke;
}

#naviPizza, #titlePizza {
  color: blue;
}

.list {
  font-style: italic;
  border: 3px solid red;
  width: fit-content;
  text-align: center;
  background-color: teal;
  color: white;
}

h1 {
  color: maroon;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  background-color: orange;
}